// Specific CSS for your home-page
.container-home{
  margin: 0 auto;
  width: 70vw;
  font-size:17px;
}

.container-experience{
  background-color: #1E1E1E;
  color: white;
}

#border{
margin-top:50px;
border-bottom: 1px solid;
opacity: 0.2;
color:#036282;
margin: 0 auto;
width: 70vw;
}
.center-text{
  display:start;
  justify-content:center;
  text-align: center;
  align-item:center;


}

.profile-details{
  margin-top: 100px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.details-me{
    text-align:justify;
  }

#title-h3{
  font-size:35px;
  color:#3485AA;
}
#title-h2{
  margin-top: 60px;
  padding: 50px;
  font-size:54px;
  color:#3485AA;
  font-weight:bold;
}

#under-title{
  font-size:21px;
}

#title-h3-carrer{
  margin: 0 auto;
  width: 70vw;
  margin-top:30px;
  margin-bottom:30px;
  padding-left: 15px;
  font-size:35px;
  color:#3485AA;
}
.carreer {
  margin: 0 auto;
  width: 70vw;
}
.year p{
  padding-bottom: 10px;
}

#icone-color{
  color:#3485AA
}

ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
}

span.word {
  background-image: linear-gradient(315deg,#112c43, #3485AA);
  background-repeat: no-repeat;
  background-size: 100% 0.7em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}




@media(max-width: 620px) {
  .profile-details {
    grid-template-columns: 1fr;
    }
  #title-h3{
    font-size: 25px;
  }
  }
