<nav class="navbar fixed-top ml-auto">
          <!-- Toggler/collapsibe Button -->

           <!-- <button class="navbar-toggler collapse.show" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
           </button> -->
           <div class="toggle_btn" data-toggle="collapse">
             <span></span>
           </div>
        <ul class="navbar-nav">
          <li class="nav-item mb-3 d-flex justify-content-center">
              <div>
                <%= link_to "#profile", class:"link-without-style nav-link ml-3" do %>
                <i class="fas fa-female" style="font-size: 25px;"></i>
                <% end %>
              </div>
          </li>
          <li class="nav-item mb-3 d-flex justify-content-center">
            <div>
              <%= link_to "#experience",class:"link-without-style nav-link ml-3" do %>
                <i class="fas fa-briefcase"style="font-size: 25px;"></i>
              <% end %>
            </div>
          </li>
          <li class="nav-item mb-3 d-flex justify-content-center">

            <div>
              <%= link_to "#skills", class:"link-without-style nav-link ml-3" do%>
                <i class="fas fa-cogs"style="font-size: 25px;"></i>
              <%end%>
            </div>
          </li>
          <li class="nav-item mb-3 d-flex justify-content-center">

            <div>
              <%= link_to "#projects",class:"link-without-style nav-link ml-3" do%>
                <i class="fas fa-laptop"style="font-size: 25px;"></i>
              <%end%>
            </div>
          </li>
        </ul>

    </nav>
