

<div class="banner-home">
      <h1 class="name">Amandyne Verdonck</h1>
      <p></p>

</div>

<div class="container-home">
  <div class="center-text">
<!---------------------Title profil------------->
    <div class="profile-title">
      <h2 id="title-h2">Profile</h2>
    </div>
      <p> I am a creative RoR webdeveloper</p>
      <hr id="border">
<!---------------------About me avatar et details------------->
    <div class="profile-details">
      <div class="about-me d-flex flex-column justify-content-between">
        <div class="title-about-me">
          <h3 id="title-h3">About me</h3>
        </div>
        <div class="container-description">
          <p class="text-description"> Hi :) I am a brand new web developer on ruby on rails
            I've just attended Le Wagon Lille (Batch #437).
            A 9-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6,
            SQL, git, GitHub, Heroku and Ruby on Rails. Designed, implemented and shipped to
            production a clone of AirBnB myigloo.herokuapp.com and a Rails prototype www.skifind.fr
            I am fully available for new opportunities.
          </p>
        </div>
      </div>
      <div class="avatar-profile d-flex justify-content-center">
        <%= image_tag "did-avatar.jpg", class: "avatar", alt: "avatar" %>
      </div>

      <div class="title-details-me d-flex flex-column justify-content-around">
        <div class="title-details">
          <h3 id="title-h3">Details</h3>
        </div>
          <div class="details-me">
            <div class="name-profile">
            <p>
              <strong> Name:</strong>
              <br>
              Amandyne Verdonck</p>
            </div>

            <div class="age-profile">
              <p>
              <strong> Age:</strong>
              <br>
              29 yo</p>
            </div>

            <div class="location-profile">
              <p>
              <strong> Location:</strong>
              <br>
              France, Lille</p>
            </div>
            <div class="socialnetwork">
              <script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_FR</script>
              <script type="IN/FollowCompany" data-id="1337" data-counter="bottom"></script>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>

 <div class="container-experience">

 <!---------------------Title experience------------->
    <div class="experience-title center-text big-title">
      <h2 id="title-h2">Experience</h2>
      <p> Welcome in my world</p>
    </div>
      <hr id="border">

  <!---------------------Title profil------------->

  <div class="carreer">
     <div class="title-carreer">

        <div class="titlecarreer">
          <h3 id="title-h3">Carreer</h3>
        </div>

        <div class="year">
          <p>Penn University</p>
          <p>Mar 2014 - May 2014</p>
        </div>


    </div>

     <div class="title-education">
          <h3 id="title-h3">Education</h3>
          <p>adsfqsfsfsdfdsfdsfdsfdsfdsfdsfdsfdsfdfdsfdsfdsfsdfdsfsdfds
            adsfqsfsfsdfdsfdsfdsfdsfdsfdsfdsfdsfdfdsfdsfdsfsdfdsfsdfds
            adsfqsfsfsdfdsfdsfdsfdsfdsfdsfdsfdsfdfdsfdsfdsfsdfdsfsdfds
          </p>
    </div>

  </div>

  <div class="education">

  </div>




 </div>




