

<div class="banner-home">
      <h1 id="banner-typed-text"class="name"></h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>

</div>

<div class="container-home">
  <div class="center-text">
<!---------------------Title profil------------->
    <div class="profile-title">
      <h2 id="title-h2"><a id="profile-typed-text"name="profile"></a></h2>
    </div>
      <p> <%= t('title') %></p>
      <hr id="border">
<!---------------------About me avatar et details------------->
    <div class="profile-details">
      <div class="about-me d-flex flex-column justify-content-between">
        <div class="title-about-me">
          <h3 id="title-h3">Qui suis-je ?</h3>
        </div>
        <div class="container-description">
          <p class="text-description"> Hi :) fraîchement sortie de ma formation de Développeuse Web Fullstack au Wagon de lille (Batch #437),
            je recherche un poste de <strong>Développeuse Front-End</strong>.
            Actuellement, outre l'infographie, je développe des applications web.
          </p>
        </div>
      </div>
      <div class="avatar-profile">
        <%= image_tag "did-avatar.jpg", class: "avatar", alt: "avatar" %>
      </div>

      <div class="title-details-me d-flex flex-column justify-content-center">
        <div class="title-details">
          <!-- <h3 id="title-h3">Un petit plus</h3> -->
        </div>
          <div class="details-me">
            <div class="name-profile">
            <p>
              <strong> Hobbies:</strong>
              <br>
              Basket, surf et ski.</p>
            </div>

            <div class="age-profile">
              <p>
              <strong> Age:</strong>
              <br>
              29 ans</p>
            </div>

            <div class="location-profile">
              <p>
              <strong> Localisation:</strong>
              <br>
              France, Lille</p>
            </div>
            <div class="socialnetwork">
            <ul class="list-unstyled list-inline text-center">
              <li class="list-inline-item ">
                <a class="btn-floating btn-fb mx-1 link-without-style" href="https://www.facebook.com/didou.av" target="_blank">
                  <i class="fab fa-facebook-f"> </i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1 link-without-style" href="https://www.linkedin.com/in/amandyne-verdonck-4125b750/" target="_blank">
                  <i class="fab fa-linkedin-in"> </i>
                </a>
              </li>
              <li class="list-inline-item ">
                <a class="btn-floating btn-fb mx-1 link-without-style" href="https://github.com/Amandynev" target="_blank">
               <i class="fab fa-github"></i>
                </a>
              </li>
            </ul>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>

<div class="container-experience">

 <!---------------------Title experience------------->
    <div class="experience-title center-text big-title">
      <h2 id="title-h2"><a id="experience-typed-text" name="experience"></a></h2>

    </div>
      <hr id="border">

  <!---------------------education------------->

  <h3 id="title-h3-carrer">À l'étranger</h3>

    <div class="carreer row">
      <div class="year col-md-4">
            <h4 class="pb-4"><strong>ACCESS INN PATTAYA</strong></h4>
            <p>Juil 2012 - Nov 2015</p>
      </div>
      <div class="text-description col-md-8">
        <div class="pb-4"><h4>Responsable marketing, communication et des opérations</h4>
        </div>
          <ul>
            <li><i class="far fa-hand-point-right"></i> <span class="word-one">Hotel</span> : management du personnel, réunions.
                 Mise en place de la lingerie avec les réceptionnistes et gouvernantes, stocks minibar en chambre,
                 suivi de l'entretien quotidien.
                 Supervision de la réception, acceuil clients toutes nationalités.</li>
                <li class="pl-2"> <span class="word"> Communication</span> : responsable du site internet (wordpress), en relation avec le webmaster. </li>
             <li>
                 <li class="pl-3"><span class="word">Gestion des réseaux sociaux </span> :facebook, instagram, twitter, tripadvisor, google business, locales app., youtube </li>
                 <li class="pl-3"> <span class="word">Infographie </span>  </li>
                 <li class="pl-3"> <span class="word">Création de newsletters </span> </li>
                 <li class="pl-3"> <span class="word">Communication interne </span> : liste mini bar, lingerie, livre d’accueil en chambre ... )</li>
                 <li class="pl-3"> <span class="word">Gestion de la publicité </span>  : encarts publicitaires dans les magasines locaux, spot TV, spot radio, taxis locaux</li>
                 <li class="pl-3"> <span class="word">Organisation d'événements </span> </li>
                <li class="pl-2"> <span class="word"> Gestion des agences de voyages en ligne</span> : booking.com, expédia, agoda, airbnb ...
                <li class="pl-2">  <span class="word"> Création des pages profils de l'hotel </span> reprenant le choix des : photos, inventaires chambres, stocks.</li>
              </li>
            <li><i class="far fa-hand-point-right"></i> <span class="word-one">Restaurant/bar</span> : gestion des stocks, organisation de soirées, caisse, bartender, service.</li>
          </ul>
        <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Pattaya, Thailand</span>
        <hr>
        <hr>
      </div>
    </div>

    <h4 id="title-h3-carrer">En France</h4>

    <div class="carreer row">
      <div class="year col-md-4">
            <h4 class="pb-4"><strong>EVOLUTION 2 ENTREPRISES</strong></h4>
            <p>Dec 2015 - Mai 2016</p>
      </div>
      <div class="text-description col-md-8">
        <div class="pb-4"><h4>Responsable communication, activités, animation</h4>
        </div>
        <p>
          <ul>
        <li> <span class="word">Communication</span> : Infographie & community manager :</li>
        <li> <span class="word">Développement d'Evolution 2 La Rosière</span> sur les réseaux sociaux : YouTube Chanel / Instagram / Twitter / Facebook ...)</li>
        <li> <span class="word">Développement</span> du site internet</li>
        <li> <span class="word">Marketing et conception de flyers </li>
        <li> <span class="word">Développement de l'événement </span> Freeride world tour La Rosière 2016</li>
        <li> <span class="word">Animation</span>: Jardin d'enfants au village yéti </li>
        <li> <span class="word">Gestion des activités</span>  : luge paret, soirée "yourte", sortie en raquettes </li>
        <li> <span class="word">Responsable des transports </span></li>
          </ul>
        </p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  La Rosière, Savoie</span>
        <hr>
        <hr>
      </div>
    </div>

     <div class="carreer row">
    <div class="year col-md-4">
          <!-- <h4 class="pb-4"> <strong>EVOLUTION 2 ENTREPRISES</strong></h4> -->
          <p>Dec 2016 - Avril 2017</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>Hôtesse de vente et responsable du jardin d'enfants</h4>
      </div>
      <ul>
        <li><span class="word">Responsable du jardin d’enfants </span> et de sa mise en place, de l'encadrement enfants et de la relation avec les parents</li>
        <li><span class="word">Hôtesse de Vente </span>: vente de cours de ski/snowboard et activités d'aventures.
        <li>Gestion du planning (attribution des cours/activités aux moniteurs)</li>
      </ul>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Tignes, Savoie</span>
      <hr>
      <hr>
    </div>
  </div>

  <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>AGENCE DES CIMES</strong></h4>
          <p>Aout 2017 - Mai 2019</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>Responsable planning</h4>
      </div>
      <ul>
        <p>Gestion du planning de réservations avec les tours opérateurs français et étrangers individuels et groupes :
          <li class="pl-3"><span class="word">Vente de packages </span> location appartements, matériels, achat de forfaits de ski pour des groupes de 100 personnes</li>
          <li class="pl-3"><span class="word">Actualisations et suivis des lots </span> sur les agences de voyages en ligne : stocks, mises en pages des annonces, descriptions, suivi clients</li>
        </p>
        <li>Accueil clients, traitement des emails, appels téléphoniques, états des lieux de sorties clients</li>
        <li><span class="word">Facturation</span> : Suivi des encaissements différés et lettrages des comptes, relances, factures…</li>
        <li>Constante relation au quotidien avec les clients, propriétaires, les co-propriétés, le technicien et la gouvernante.</li>
      </ul>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Tignes, Savoie</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong>VACHERAND IMMOBILIER</strong></h4>
          <p>Juil 2019 - Sept 2019</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4> Chargée de location</h4>
      </div>
      <p>Accueil clients, appels téléphoniques ( services locations, ventes, syndicats )
        <br>
         Visites clients et suivi des locations
         <br>
         Assistance gestionnaire
      <p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

    <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong> HAPPY IMMO</strong></h4>
          <p>Oct 2019 - Nov 2019</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4> Gestionnaire locatif </h4>
      </div>
      <p>Gestion locative de bien immobilier pour un propriétaire
        Remise en location du bien, gestion des travaux, problèmes quotidien avec le locataire
        Rédaction de baux et de mandats
      <p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Villeneuve d'Ascq, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong></strong></h4>
          <p>Dec 2020 - Aout 2020</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4> Conseillère en immobilier d'entreprise</h4>
      </div>
      <p>Location de locaux commerciaux, bureaux sur la métropole lilloise.
        Commercialisation des biens avec des moyens de communication adaptés.
      <p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>
  <!---------------------carreer -------------------------->
<hr id="border">
<h3 id="title-h3-carrer">Études</h3>
   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong>LE WAGON </strong></h4>
          <p>July 2020 - Sept 2020</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4> Développeuse Web Fullstack </h4>
      </div>
      <p>A 9-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6,
            SQL, git, GitHub, Heroku and Ruby on Rails.Designed, implemented and shipped to
            production a clone of AirBnB and a Rails prototype.

      <p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>ISEFAC</strong></h4>
          <p>Sept 2010 - Juin 2012</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>BTS communication des entreprises</h4>
      </div>
      <p>Créations de projets en PAO (maquettes sur photoshop et indesign)<p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong>UNIVERTSITE CATHOLIQUE DE LILLE</strong></h4>
          <p>Sept 2009 - Mars 2010</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>Licence Media Culture et Communication</h4>
      </div>
      <p><p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>


  <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>LYCÉE SAINT REMI</strong></h4>
          <p>Sept 2007 - Juin 2009</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>Baccalauréat STG</h4>
      </div>
      <p>option mercatique<p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Roubaix, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>UFCV FORMATION</strong></h4>
          <p>Sept 2007 - Juin 2009</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>BAFA animatrice</h4>
      </div>
      <p>qualification surveillant de baignade<p>
    <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Croix et Wasquehal, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

</div>

<!---------------------Skills -------------------------->
<div class="container-home">
  <div class="center-text">
    <h2 id="title-h2"><a id="skill-typed-text"name="skills"></a></h2>
  </div>
<hr id="border">

<!---------------------Skills -------------------------->
<div class="row">
  <div class="col-md-6 mt-5">
      <% @skills.each do |skill| %>
    <div class="skills d-flex justify-content-between ">
      <%= skill.name %>
    <div class="stars">
      <% if skill.name == "CSS(3)"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <% elsif skill.name == "HTML(5)"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <% elsif skill.name == "Photoshop"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <% elsif skill.name == "Macintosh"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <% elsif skill.name == "Macintosh"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <% elsif skill.name == "MVC pattern"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <% elsif skill.name == "iwork"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <%else%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
     <% end %>
    </div>
  </div>
    <% end %>
  </div>
</div>

    <div class="center-text">
      <h2 id="title-h2">Langues</h2>
    </div>
    <hr id="border mt-3">

    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="skills d-flex justify-content-between" >
          <span>Français</span>
          <div class="stars">
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="skills d-flex justify-content-between" >
     <span>Anglais (Courant)</span>
          <div class="stars">
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="skills d-flex justify-content-between" >
     <span>Thai (Quotidien)</span>
          <div class="stars">
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container-experience">

  <!---------------------Title Projets------------->
    <div class="experience-title center-text big-title">
      <h2 id="title-h2"><a id="project-typed-text"name="projects"></a></h2>

    </div>
      <hr id="border">
      <br>
      <br>

  <!---------------------education------------->
  <%= link_to "http://www.skifind.fr", class:"link-without-style", :target => "_blank" do %>
  <div class="card-project d-flex align-item text-center">
  <div class="skifind">Skifind.fr</div>
  </div>
  <% end %>
  <hr>
  <hr>

</div>


</div>
