

<div class="banner-home">
      <h1 class="name">Amandyne Verdonck</h1>
      <p></p>

</div>

<div class="container-home">
  <div class="center-text">
<!---------------------Title profil------------->
    <div class="profile-title">
      <h2 id="title-h2">Profile</h2>
    </div>
      <p> I am a creative RoR webdeveloper</p>
      <hr id="border">
<!---------------------About me avatar et details------------->
    <div class="profile-details">
      <div class="about-me d-flex flex-column justify-content-between">
        <div class="title-about-me">
          <h3 id="title-h3">About me</h3>
        </div>
        <div class="container-description">
          <p class="text-description"> Hi :) I am a brand new web developer on ruby on rails
            I've just attended Le Wagon Lille (Batch #437).
            I love playing Basketball, surfing in the summer and skiing in the winter.
            Of course, weekly, I enjoy spending time with my friends, grab a drink together and dance :)
          </p>
        </div>
      </div>
      <div class="avatar-profile">
        <%= image_tag "did-avatar.jpg", class: "avatar", alt: "avatar" %>
      </div>

      <div class="title-details-me d-flex flex-column justify-content-around">
        <div class="title-details">
          <h3 id="title-h3">Details</h3>
        </div>
          <div class="details-me">
            <div class="name-profile">
            <p>
              <strong> Name:</strong>
              <br>
              Amandyne Verdonck</p>
            </div>

            <div class="age-profile">
              <p>
              <strong> Age:</strong>
              <br>
              29 yo</p>
            </div>

            <div class="location-profile">
              <p>
              <strong> Location:</strong>
              <br>
              France, Lille</p>
            </div>
            <div class="socialnetwork">
              <script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_FR</script>
              <script type="IN/FollowCompany" data-id="1337" data-counter="bottom"></script>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>

<div class="container-experience">

 <!---------------------Title experience------------->
    <div class="experience-title center-text big-title">
      <h2 id="title-h2">Experiences</h2>

    </div>
      <hr id="border">

  <!---------------------education------------->

  <h3 id="title-h3-carrer">Carreer</h3>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong>VACHERAND IMMOBILIER</strong></h4>
          <p>Jan 2020 - Aug 2020</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4> Conseillère en immobilier d'entreprise</h4>
      </div>
      <p>Location de locaux commerciaux, bureaux sur la metropole lilloise.
        Commercialisation des biens avec des moyens de communication adaptés.
      <p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Vieux-Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong>VACHERAND IMMOBILIER</strong></h4>
          <p>July 2019 - Sept 2019</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4> Chargé de location</h4>
      </div>
      <p>Accueil clients, appels téléphoniques ( service locations, ventes, syndicats )
         Visites clients et suivis locations
         Assistance gestionnaire
      <p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Vieux-Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>AGENCE DES CIMES</strong></h4>
          <p>Aug 2017 - April 2019</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>Responsable planning</h4>
      </div>
      <ul>
        <p>Gestion du planning de réservations avec les tours opérateurs Français et étrangers individuels et groupes:
          <li class="pl-3"><span class="word">Vente de packages </span> location appartements, matériels, achat de forfaits de ski pour des groupes de 100personnes</li>
          <li class="pl-3"><span class="word">Actualisations et suivis des lots </span> sur les agences de voyages en lignes : stocks, mise en page annonces, descriptions, suivie clients</li>
        </p>
        <li>Accueil de la clientèle, traitement des emails, appels téléphoniques, états des lieux de sorties clients</li>
        <li><span class="word">Facturation</span> : Suivis des encaissements différés et lettrages des comptes, relances, factures…</li>
        <li>Constante relation au quotidien avec les clients, propriétaires, les co-propriétés, le technicien et la gouvernante.</li>
      </ul>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Tignes, Savoie</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong>EVOLUTION 2 ENTREPRISES</strong></h4>
          <p>Dec 2016 - April 2017</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>Animatrice jardin d'enfants et Hôtesse de vente</h4>
      </div>
      <ul>
        <li><span class="word">Responsable du jardin d’enfant d’évolution 2</span> : mise en place de celui-ci, encadrement enfants, relation avec les parents</li>
        <li><span class="word">Hôtesse de Vente </span>: vente de cours de ski/snowboard + activités et gestion du planning (attribution des cours/activités aux moniteurs)</li>
      </ul>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Tignes, Savoie</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>EVOLUTION 2 ENTREPRISES</strong></h4>
          <p>Dec 2015 - Mai 2016</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>Employee multi fonction</h4>
      </div>
      <ul>
      <li> <span class="word">Communication</span> : Infographie & community manager ( développement d'Evolution 2 La Rosière sur les réseaux sociaux : YouTube Chanel / Instagram / Twitter & Facebook ... )
           Réflexion sur l'amélioration du site internet
           Marketing / conception de flyer / Développement de l'événement Freeride world tour La Rosière 2016.</li>
      <li> <span class="word">Animatrice</span>: Jardin d'enfants ( village yéti )/ Animation pendant l'heure du repas</li>
      <li> <span class="word">Gestion des activitées d'Evolution 2 </span>  : paret, soirée yourt, sortie raquette </li>
      <li> <span class="word">Chauffeur du mini bus Evolution 2 </span></li>
      </ul>
    <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  La Rosière, Savoie</span>
      <hr>
      <hr>
    </div>
  </div>

  <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>ACCESS INN PATTAYA</strong></h4>
          <p>Oct 2012 - Oct 2015</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>Hotel/Restaurant/Bar, Communication, Tours opérateurs</h4>
      </div>
        <ul>
          <li> <span class="word">Hotel</span> : management du personnel, réunions,
               Mise en place de la lingerie avec les réceptionnistes et gouvernantes, stocks minibar en chambre,
               suivi de l'entretien quotidien.
               Supervision de la réception, acceuil clients toutes nationalités.</li>
          <li> <span class="word">Restaurant/bar</span> : gestion des stocks, organisation de soirées, caisse, bartender, service.</li>
          <li> <span class="word">Communication </span> : chargée de contenu du site internet ( wordpress )en relation avec le webmaster, réseaux sociaux
               (facebook, instagram, twitter, tripadvisor, google business, locales app., youtube) infographie, création de newsletters, communication interne ( liste mini bar, lingerie, livre d’accueil en chambre ... )
               Encart publicitaires dans les magasines locaux, spot TV.
               Organisation d'événements.</li>
          <li> <span class="word">Gestion des agences de voyages en ligne</span> comme booking.com, expédia, agoda, hotel travel, ctrip, hostels.com, airbnb, holidays letting...
               Création des pages profils de l'hotel, photos, inventaires chambres, stocks.</li>
        </ul>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Pattaya, Thailand</span>
      <hr>
      <hr>
    </div>
  </div>

  <!---------------------carreer -------------------------->
<hr id="border">
<h3 id="title-h3-carrer">Education</h3>
   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong>LE WAGON </strong></h4>
          <p>July 2020 - Sept 2020</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4> Fullstack developper web</h4>
      </div>
      <p>A 9-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6,
            SQL, git, GitHub, Heroku and Ruby on Rails.Designed, implemented and shipped to
            production a clone of AirBnB and a Rails prototype.
      <p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>ISEFAC</strong></h4>
          <p>Sept 2010 - Jun 2012</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>BTS communication des entreprises</h4>
      </div>
      <p>Trois stages en entreprise, des créations de projets en PAO (maquettes sur photoshop et indesign)<p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong>UNIVERTSITE CATHOLIQUE DE LILLE</strong></h4>
          <p>Sept 2009 - Mar 2010</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>Licence Media Culture et Communication</h4>
      </div>
      <p><p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>UFCV FORMATION</strong></h4>
          <p>Sept 2007 - Jun 2009</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>BAFA animatrice</h4>
      </div>
      <p>qualification surveignant de baignade<p>
    <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Croix et Wasquehal, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

  <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>LYCÉE SAINT REMI</strong></h4>
          <p>Sept 2007 - Jun 2009</p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>Baccalauréat STG</h4>
      </div>
      <p>option mercatique<p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Roubaix, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>
</div>

<!---------------------Skills -------------------------->
<div class="container-home">
  <div class="center-text">
    <h2 id="title-h2">Skills</h2>
  </div>
<hr id="border">

<!---------------------Skills -------------------------->
<div class="row">
  <div class="col-md-6 mt-5">
      <% @skills.each do |skill| %>
    <div class="skills d-flex justify-content-between ">
      <%= skill.name %>
      <div class="stars">
      <% if skill.name == "Ruby"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
        <% elsif skill.name == "CSS(3)"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
        <% elsif skill.name == "HTML(5)"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
        <% elsif skill.name == "Adobe Photoshop"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
        <% elsif skill.name == "Macintosh"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
        <% elsif skill.name == "Ruby On Rails"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
        <% elsif skill.name == "Macintosh"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
        <% elsif skill.name == "Command line interface"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
        <% elsif skill.name == "MVC pattern"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
        <% elsif skill.name == "iwork"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <%else%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
     <% end %>
      </div>
  </div>
    <% end %>
    </div>
  </div>

  <div class="center-text">
    <h2 id="title-h2">Languages</h2>
  </div>
  <hr id="border mt-3">

  <div class="row">
    <div class="col-md-6 mt-5">
      <div class="skills d-flex justify-content-between" >
        <span>French (Native)</span>
        <div class="stars">
          <span><i id="icone-color"class="fas fa-star"></i></span>
          <span><i id="icone-color"class="fas fa-star"></i></span>
          <span><i id="icone-color"class="fas fa-star"></i></span>
          <span><i id="icone-color"class="fas fa-star"></i></span>
          <span><i id="icone-color"class="fas fa-star"></i></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="skills d-flex justify-content-between" >
   <span>English (Fluent)</span>
        <div class="stars">
          <span><i id="icone-color"class="fas fa-star"></i></span>
          <span><i id="icone-color"class="fas fa-star"></i></span>
          <span><i id="icone-color"class="fas fa-star"></i></span>
          <span><i id="icone-color"class="fas fa-star"></i></span>
          <span><i class="far fa-star"></i></span>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
      <div class="skills d-flex justify-content-between" >
   <span>Thai (Basic)</span>
        <div class="stars">
          <span><i id="icone-color"class="fas fa-star"></i></span>
          <span><i id="icone-color"class="fas fa-star"></i></span>
          <span><i class="far fa-star"></i></span>
          <span><i class="far fa-star"></i></span>
          <span><i class="far fa-star"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
