

<div class="banner-home">
      <h1 class="name">Amandyne Verdonck</h1>
      <p></p>

</div>

<div class="container-home">

  <div class="profile">

<!---------------------Title profil------------->
    <div class="profile-title">
      <h2>Profile</h2>
    </div>
      <p> I am a creative RoR webdeveloper</p>
      <hr id="border">
    <div class="profile-details">
<!---------------------About me avatar et details------------->
      <div class="about-me">
        <div class="title-about-me">
          <h2>About me</h2>
        </div>
        <div class="container-description">
          <p class="text-description">aaaaaaaaaakdsndskjbgdsjkbgdskgdskjgdsg</p>
        </div>
      </div>

      <div class="avatar-profile">
        <%= image_tag "did-avatar.jpg", class: "avatar", alt: "avatar" %>
      </div>

      <div class="details-me">
        <div class="title-details-me">
          <h2>Details</h2>
            <div class="name-profile">
              <p>Name : Amandyne V</p>

            </div>
            <div class="age-profile">
              <p>Age : 29 yo</p>

            </div>
            <div class="location-profile">
              <p>Location : France, Lille</p>

            </div>
            <div class="socialnetwork">

            </div>
        </div>

      </div>
    </div>
  </div>
</div>
