.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li {
  list-style:none;
  margin-left:0;
  padding-left:0;
}

nav{
margin-top: 20px;
  margin-right:20px;
  width:150px;
  height:400px;
  background-color: rgba(53, 134, 172, 0.9);
}

.nav-item{
  padding-left: 20px;
}
.nav-item:hover {
transform: scale(1.5);
color:white;
}



