
li {
  list-style:none;
  margin-left:0;
  padding-left:0;
}

.navbar {
  margin-top: 20px;
  margin-right:20px;
  width:150px;
  height:400px;
  background-color: rgba(53, 134, 172, 0.9);
}

.nav-link{
  cursor: pointer;
}


.nav-item:hover {
transform: scale(1.5);
color:white;
}

@media(max-width: 620px) {
  .navbar{
  position:absolute;
  top: 20px;
  background:none;
  margin-top: 20px;
  margin-right:5px;
  width:75px;
  height:100px;
  display:block;
  position:fixed;

  }
.nav-item{
  font-size: 15px;
}
}
