.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li {
  list-style:none;
  margin-left:0;
  padding-left:0;
}

nav{
  right:10px;
  margin-left:20px;
  width:150px;
  height:400px;
  background-color: rgba(53, 134, 172, 0.9);
}

nav .wrapper ul

// .icon{
//   background-color:#3485AA;
//   height:35px;
//   width:35px;
//   border-radius:50%;
//   display:flex;
//   justify-content:center;
//   align-item:center !important;

// }
.nav-item{
  padding-left: 20px;
}
.nav-item:hover {
transform: scale(1.5);
color:white;
}


