.toggle_btn {
  position:relative;
  height:30px;
  width:30px;
  cursor: pointer;
}
.toggle_btn span {
  height: 3px;
  background-color: black;
  width:100%;
  position: absolute;
  top:20px;
  left: 0;
}

.toggle_btn span:before {
  content:"";
  height: 3px;
  background-color: black;
  width:100%;
  position: absolute;
  top:-10px;
  left: 0;
}

.toggle_btn span:after {
  content:"";
  height: 3px;
  background-color: black;
  width:100%;
  position: absolute;
  top:10px;
  left: 0;
}

.navbar-nav{
  margin-right: -300px;
  transition-duration: 0.5s;
}
.nav_open {

  margin-right: 0;
  transition-duration: 0.5s;
}


@media(max-width: 620px) {
.buttontog{
  margin:0;
  text-align:center
}

}
